extends layout

block content
    div#logo
        img(src='/images/logo.png')

    div#seleccione2 ESCOGE UN ARTISTA

    div#artistas
        a.artista-icono(href='/page6?user_id=#{id}&photo_id=#{photo_id}&artista=amadeo-gonzales')
            img(src='/images/amadeo-gonzales/010.png', height='275px')
            span AMADEO GONZÁLES

        a.artista-icono(href='/page6?user_id=#{id}&photo_id=#{photo_id}&artista=christian-bendayan')
            img(src='/images/christian-bendayan/002.png', height='275px')
            span CHRISTIAN BENDAYÁN

        a.artista-icono(href='/page6?user_id=#{id}&photo_id=#{photo_id}&artista=jorge-cabieses')
            img(src='/images/jorge-cabieses/010.png', height='275px')
            span JORGE CABIESES

block scripts
    script(src='/javascripts/page5.js')