extends layout

block content
    div#logo
        img(src='/images/logo.png')

    div#seleccione
        &nbsp;SELECCIONE SU MEJOR FOTOGRAFÍA

    div#img1.select-image
        a(href='/page5/?user_id=#{id}&photo_id=1')
            img(src='/uploads/#{id}-1.png')

    div#img2.select-image
        a(href='/page5/?user_id=#{id}&photo_id=2')
            img(src='/uploads/#{id}-2.png')

    div#img3.select-image
        a(href='/page5/?user_id=#{id}&photo_id=3')
            img(src='/uploads/#{id}-3.png')

block scripts
    script(src='/javascripts/page4.js')